MONGO_ROOT_USERNAME=job_feed_admin
MONGO_ROOT_PASSWORD=change_me_locally
MONGO_DATABASE=job_feed
MONGO_URI=mongodb://job_feed_admin:change_me_locally@localhost:27018/job_feed?authSource=admin
PORT=3000
